/* ================================
   COMMON SIDEBAR
================================ */

.sidebar {
    position: fixed;
    top: 18px;              
    left: 20px;

    width: 220px;
    height: calc(100vh - 36px);

    display: flex;
    flex-direction: column;

    z-index: 1000;
}

.sidebar-top {
    padding-top: 10px;
}

.sidebar-bottom {
    margin-top: auto;
    padding-bottom: 15px;
}